In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv('scholarship.csv')

In [4]:
df.shape

(1000, 3)

In [5]:
df.head()

   semester_percentage  scholarship_exam_marks  got_scholarship
0                 71.9                      26                1
1                 74.6                      38                1
2                 75.4                      40                1
3                 64.2                       8                1
4                 72.3                      17                0

In [6]:
df.isna().sum()

semester_percentage       0
scholarship_exam_marks    0
got_scholarship           0
dtype: int64

In [8]:
plt.figure(figsize =(12,5))
plt.subplot(1,2,1)
sns.distplot(df['scholarship_exam_marks'])

plt.subplot(1,2,2)
sns.distplot(df['semester_percentage'])

plt.show()

TypeError: 'module' object is not callable