In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('AB_NYC_2019.csv')

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [6]:
df.dropna(inplace = True)

In [7]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38821 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38821 non-null  int64
 1   name                            38821 non-null  object
 2   host_id                         38821 non-null  int64
 3   host_name                       38821 non-null  object
 4   neighbourhood_group             38821 non-null  object
 5   neighbourhood                   38821 non-null  object
 6   latitude                        38821 non-null  float64
 7   longitude                       38821 non-null  float64
 8   room_type                       38821 non-null  object
 9   price                           38821 non-null  int64
 10  minimum_nights                  38821 non-null  int64
 11  number_of_reviews               38821 non-null  int64
 12  last_review                     38821 non-null  object
 13  reviews_per_month               38821 non-null  float64
 14  calculated_host_listings_count  38821 non-null  int64
 15  availability_365                38821 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.0+ MB

In [11]:
df['id'] = df['id'].astype('str')
df['host_id'] = df['host_id'].astype('str')
df['longitude'] = df['longitude'].astype('str')
df['latitude'] = df['latitude'].astype('str')

In [12]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000
mean,142.332526,5.869220,29.290255,1.373229,5.166611,114.886299
std,196.994756,17.389026,48.182900,1.680328,26.302954,129.529950
min,0.000000,1.000000,1.000000,0.010000,1.000000,0.000000
25%,69.000000,1.000000,3.000000,0.190000,1.000000,0.000000
50%,101.000000,2.000000,9.000000,0.720000,1.000000,55.000000
75%,170.000000,4.000000,33.000000,2.020000,2.000000,229.000000
max,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [18]:
df.nunique()

id                                38821
name                              38253
host_id                           30232
host_name                          9885
neighbourhood_group                   5
neighbourhood                       218
latitude                          17436
longitude                         13639
room_type                             3
price                               581
minimum_nights                       89
number_of_reviews                   393
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [19]:
df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        16621
Brooklyn         16439
Queens            4572
Bronx              875
Staten Island      314
Name: count, dtype: int64

In [20]:
df['calculated_host_listings_count'].value_counts()

calculated_host_listings_count
1      25334
2       5757
3       2494
4       1282
5        736
6        476
7        318
8        317
327      207
9        187
10       148
12       140
13       106
11        96
52        91
96        90
91        79
34        67
17        60
15        56
31        55
103       51
47        46
33        45
121       43
49        41
50        40
39        39
87        39
28        39
30        28
232       28
14        28
29        28
25        26
20        25
18        24
43        22
26        22
23        21
21        19
19        19
16        16
37        13
27        12
32        10
65         1
Name: count, dtype: int64

In [21]:
df['room_type'].value_counts()

room_type
Entire home/apt    20321
Private room       17654
Shared room          846
Name: count, dtype: int64

In [23]:
df['room_type'].value_counts(normalize = True)

room_type
Entire home/apt    0.523454
Private room       0.454754
Shared room        0.021792
Name: proportion, dtype: float64

In [24]:
df['neighbourhood_group'].value_counts(normalize = True)

neighbourhood_group
Manhattan        0.428145
Brooklyn         0.423456
Queens           0.117771
Bronx            0.022539
Staten Island    0.008088
Name: proportion, dtype: float64

## Categorichal Data

In [25]:
df['neighbourhood_group'].value_counts(normalize = True).reset_index()

  neighbourhood_group  proportion
0           Manhattan    0.428145
1            Brooklyn    0.423456
2              Queens    0.117771
3               Bronx    0.022539
4       Staten Island    0.008088

In [26]:
df['price'].value_counts(normalize = True).reset_index()

     price  proportion
0      150    0.041112
1      100    0.039077
2       50    0.030602
3       60    0.029752
4       75    0.028206
..     ...         ...
576    578    0.000026
577    789    0.000026
578   1795    0.000026
579   1095    0.000026
580    323    0.000026

[581 rows x 2 columns]

In [34]:
df['neighbourhood_group'].value_counts(normalize = True).reset_index().rename(columns = {'proportion': 'Percentage ','neighbourhood_group': 'Town Name'})

       Town Name  Percentage
0      Manhattan     0.428145
1       Brooklyn     0.423456
2         Queens     0.117771
3          Bronx     0.022539
4  Staten Island     0.008088

In [36]:
df['price'].value_counts(bins=5)

(-10.001, 2000.0]    38786
(2000.0, 4000.0]        20
(4000.0, 6000.0]         8
(8000.0, 10000.0]        5
(6000.0, 8000.0]         2
Name: count, dtype: int64

In [43]:
bins = (0,50,300,500,1000,10000)

In [44]:
df['price'].value_counts(bins = bins)

(50.0, 300.0]        31466
(-0.001, 50.0]        5176
(300.0, 500.0]        1557
(500.0, 1000.0]        515
(1000.0, 10000.0]      107
Name: count, dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38821 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38821 non-null  object
 1   name                            38821 non-null  object
 2   host_id                         38821 non-null  object
 3   host_name                       38821 non-null  object
 4   neighbourhood_group             38821 non-null  object
 5   neighbourhood                   38821 non-null  object
 6   latitude                        38821 non-null  object
 7   longitude                       38821 non-null  object
 8   room_type                       38821 non-null  object
 9   price                           38821 non-null  int64
 10  minimum_nights                  38821 non-null  int64
 11  number_of_reviews               38821 non-null  int64
 12  last_review                     38821 non-null  object
 13  reviews_per_month               38821 non-null  float64
 14  calculated_host_listings_count  38821 non-null  int64
 15  availability_365                38821 non-null  int64
dtypes: float64(1), int64(5), object(10)
memory usage: 5.0+ MB

In [45]:
df.corr()

ValueError: could not convert string to float: 'Clean & quiet apt home by the park'