In [1]:
tup = (1,3,4,6,)
print(tup)

(1, 3, 4, 6)

In [2]:
#Indexing in tuple
tup = ("Bikash", "man", 'cat', 1,2,5, True)
print(tup[1:])

('man', 'cat', 1, 2, 5, True)

In [3]:
#Indexing in tuple with positive and negative index
print(tup[-6:6])

('man', 'cat', 1, 2, 5)

In [4]:
#Indexing in tuple with range
print(tup[-3:])

(2, 5, True)

In [7]:
#Tuple can't be modified, we modified it by changing tuple into list 
#and we remove it and agin change it into tuple

tup = ("Bikash",True, "pan", 'c', 1,8.94) 
lst = list(tup)
lst.remove("Bikash")
tup = tuple(lst)
print(tup)

(True, 'pan', 'c', 1, 8.94)

In [9]:
#Checking the element in the tuple 
tup = ("apple", "mango", "cat", "dog")
if "apple" in tup:
    print("Apple is in the tuple")
else:
    print("Element don't exist")

Element don't exist

In [10]:
#change tuple vqlues
tup = (1,2,3,4)
y = list(tup)
y[1] = "apple"
tup = tuple(y)
print(tup)

(1, 'apple', 3, 4)