In [43]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [44]:
df = pd.read_csv('AB_NYC_2019.csv')

In [45]:
df.shape

(48895, 16)

In [46]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [47]:
df.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
28112,21935727,"Designers' Brooklyn Loft â€“ 2 bed, 2 bath",1341264,Noemie,Brooklyn,Bedford-Stuyvesant,40.69065,-73.95929,Entire home/apt,300,6,1,2019-04-23,0.39,1,0
47215,35642402,1-Bedroom Sweet Spot in Carroll Gardens!,8093028,Jordana,Brooklyn,Carroll Gardens,40.67867,-73.99690,Entire home/apt,129,3,1,2019-07-06,1.00,1,21
19561,15646864,Williamsburg / Greenpoint 1500 square foot apt,8712217,Tim,Brooklyn,Greenpoint,40.72667,-73.95221,Entire home/apt,200,4,0,NaN,NaN,1,0
7437,5536560,"Classy neighborhood, close to everything.",257479,Colleen,Manhattan,Upper West Side,40.78257,-73.97681,Entire home/apt,150,14,6,2017-03-05,0.12,1,0
24400,19643642,One stop to midtown Manhattan one stop to Broo...,20440843,Safiah,Queens,Long Island City,40.74510,-73.94951,Private room,75,1,5,2018-09-28,0.23,1,0
6756,4840841,"Quiet, Modern Gem in LES w balcony!",4244200,Claire,Manhattan,Lower East Side,40.71942,-73.98605,Entire home/apt,200,2,0,NaN,NaN,1,0
46394,35231663,Room in a Luxury Apartment + Gym + AC + Laundry,14332697,Guillard,Brooklyn,Bushwick,40.70078,-73.92803,Private room,89,6,1,2019-06-14,1.00,1,27
24320,19585955,"Quiet Full Bed, loft and couch",4471200,Adam,Queens,Ridgewood,40.69654,-73.90034,Private room,40,2,1,2017-07-04,0.04,1,0
41552,32304108,Carroll Gardens Cozy Nest,152114575,Barbara,Brooklyn,Carroll Gardens,40.68082,-73.99482,Private room,89,4,5,2019-06-16,1.40,1,0
11746,9133278,This Empty Nest is the Best!,25459,Christine,Manhattan,Harlem,40.82711,-73.93989,Private room,41,1,124,2019-06-25,2.78,2,37

In [48]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [49]:
df1 = df.copy()

## Eliminating the entire row of the data set if there is any null values

In [50]:
df1.dropna(inplace = True) ## You need to put inplace if you want to make it permanent change

In [51]:
df1.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [53]:
df1.shape

(38821, 16)

In [54]:
df2 = df.copy()

In [55]:
df2.drop( 'host_id',inplace = True , axis = 1)

In [57]:
df2.isnull().sum() #host if has been eliminated

id                                    0
name                                 16
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [58]:
df2.shape

(48895, 15)

## Imputations

In [60]:
df3 = df.copy()

In [62]:
df3.shape

(48895, 16)

In [63]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [64]:
mean_value = df3['reviews_per_month'].mean()

In [67]:
mean_value

1.3732214298586618

In [71]:
df3['reviews_per_month'].fillna(mean_value, inplace = True)

In [72]:
df3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0

In [83]:
mode_value = df3['last_review'].mode()

In [84]:
mode_value

0    2019-06-23
Name: last_review, dtype: object

In [85]:
df3['last_review'].fillna(df3['last_review'].value_counts().index[0], inplace = True)

In [87]:
df3.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
28501,22099266,Aquamarine Bedroom,119669058,Melissa,Brooklyn,Bedford-Stuyvesant,40.69459,-73.95551,Private room,65,2,22,2019-06-20,1.640000,34,289
11984,9334228,Cozy Studio in an Amazing Location,1423321,Olivera,Manhattan,East Village,40.72695,-73.99012,Entire home/apt,70,7,1,2015-12-08,0.020000,1,0
17146,13584889,COMFORTABLE & FRIENDLY,78218328,Ivonne,Brooklyn,Bedford-Stuyvesant,40.69191,-73.94636,Private room,50,6,0,2019-06-23,1.373221,1,0
31851,24853655,Luxury 1BR close to Columbus Circle/Central Park,102351927,Jon,Manhattan,Hell's Kitchen,40.76482,-73.98674,Entire home/apt,224,7,10,2019-07-06,0.740000,1,0
47595,35826493,NEW Modern Entire 2Bed Parkview Unforgettable,257647514,Juhyun,Brooklyn,Bushwick,40.69185,-73.91073,Entire home/apt,150,3,1,2019-06-27,1.000000,2,21
45750,34938410,(E) Private Queen Room LGA JFK Manhattan 15m,263053182,Fmny,Queens,Rego Park,40.72655,-73.86697,Private room,70,1,0,2019-06-23,1.373221,10,112
27512,21665632,SOHO LOFT: 2000sq ft renovated & centrally loc...,11242618,Shelley,Manhattan,SoHo,40.72208,-74.00217,Entire home/apt,1000,5,0,2019-06-23,1.373221,1,364
35695,28336933,West Village 5 BR Townhouse & Private Yard,126830432,Andrea,Manhattan,West Village,40.73151,-74.00528,Entire home/apt,1500,4,17,2019-06-27,1.860000,1,32
18093,14165982,Comfortable apartment in FH,19538448,Giuseppe,Queens,Forest Hills,40.72116,-73.83948,Entire home/apt,115,2,0,2019-06-23,1.373221,1,0
4120,2652865,Classic Upper West Side Getaway!,9951993,Jason,Manhattan,Upper West Side,40.79592,-73.97024,Entire home/apt,159,2,1,2017-11-20,0.050000,1,0

In [88]:
df3.isnull().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [89]:
df4 = df.copy()

In [90]:
df4.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [94]:
df4.shape

(48895, 16)

In [96]:
df4['last_review'].fillna('Not_reviewed', inplace = True)

In [107]:
df4.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [117]:
mean_value = df['reviews_per_month'].median()

In [119]:
df4['reviews_per_month'].fillna(mean_value, inplace = True)

In [114]:
df4['host_name'].fillna(df4['host_name'].value_counts().index[0], inplace = True)

In [120]:
df4.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19523,15598303,Cozy Bedroom in cute Clinton Hill brownstone apt!,15055897,Heather,Brooklyn,Clinton Hill,40.69043,-73.96736,Private room,75,2,1,2016-10-24,0.03,2,0
27346,21581545,"STEPS TO LGA, Near CITIFIELD, JFK MANHATTAN(RM 3)",156948703,Asad,Queens,East Elmhurst,40.76876,-73.87245,Private room,65,1,191,2019-06-21,9.41,6,336
47430,35729594,Rose's Brooklyn Oasis - Close to Subway!,268757078,Vinette,Brooklyn,East Flatbush,40.64560,-73.95065,Private room,40,1,1,2019-06-30,1.00,2,151
10366,7933400,Astoria Nice Neighborhood,40336543,Simon,Queens,Long Island City,40.76422,-73.93169,Private room,89,2,0,Not_reviewed,0.72,2,364
24997,20017584,Large Room with Private Entrance Close to Metro,142133001,Garland,Brooklyn,Bedford-Stuyvesant,40.68967,-73.95514,Private room,55,2,53,2019-06-23,2.31,1,88
29314,22483776,THE COOL HOUSE,55197894,Erick,Queens,Woodside,40.74907,-73.90083,Private room,30,5,7,2019-02-12,0.38,1,0
13714,10293298,Private Room/Private Bath in Gorgeous Brooklyn...,52954055,Victoria Maria,Brooklyn,Bedford-Stuyvesant,40.68574,-73.93022,Private room,51,5,13,2019-06-26,0.33,1,89
34940,27701535,Place for sleeping and exploring NYC,209121939,Linda,Manhattan,Harlem,40.82005,-73.93949,Private room,65,1,21,2019-06-17,1.94,2,58
16982,13497305,"Stunning, Prime, Beautiful NYC",2861768,Justin,Manhattan,Harlem,40.81266,-73.95152,Private room,69,10,20,2018-05-29,0.54,3,0
27850,21823574,Quiet and cozy in Queens and close JFK Airport,159088461,Rudy,Queens,Howard Beach,40.66802,-73.84803,Private room,55,2,0,Not_reviewed,0.72,1,363

In [122]:
df4.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [123]:
df4['name'].fillna(df4['name'].value_counts().index[0], inplace = True)

In [124]:
df4.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64