## Working with Pandas

## Creating a Series

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Series through list
lst = [1,2,3,4,5,56,67]
pd.Series(lst)

0     1
1     2
2     3
3     4
4     5
5    56
6    67
dtype: int64

In [4]:
#Series throug Numpy arry
arr =np.array([1,2,3,4,5,6,78])
pd.Series(arr)

0     1
1     2
2     3
3     4
4     5
5     6
6    78
dtype: int32

In [5]:
#Giving Index from our own
pd.Series(['Ishant','Hari','Ram'] ,index=[1,4,2])

1    Ishant
4      Hari
2       Ram
dtype: object

In [6]:
#Series through Dictionary Values
steps = {'day1':1000,'day2':300,'day3':500}
pd.Series(steps)

day1    1000
day2     300
day3     500
dtype: int64

In [7]:
#Using Repeat Function
pd.Series(5).repeat(4).reset_index(drop=True)

0    5
1    5
2    5
3    5
dtype: int64

In [8]:
pd.Series([3,5]).repeat([4,4]).reset_index(drop=True)

0    3
1    3
2    3
3    3
4    5
5    5
6    5
7    5
dtype: int64

## Acessing Element

In [9]:
s = pd.Series([1,4,6,3,5,0,-1,-96])
s[6:8]

6    -1
7   -96
dtype: int64

In [10]:
s[1:-1]

1    4
2    6
3    3
4    5
5    0
6   -1
dtype: int64

In [11]:
s[-7:-1]

1    4
2    6
3    3
4    5
5    0
6   -1
dtype: int64

## Aggregate Functions in Pandas

In [12]:
sr = pd.Series([1,2,45,33,23,231,25])
sr.agg(['min','max','sum','median','average'])

min          1.000000
max        231.000000
sum        360.000000
median      25.000000
average     51.428571
dtype: float64

## Series Absolute Functions

In [13]:
sr1 = pd.Series([1,-3,33,-8,-9,12.0,13])
sr1.abs()

0     1.0
1     3.0
2    33.0
3     8.0
4     9.0
5    12.0
6    13.0
dtype: float64

## Appending Series

In [14]:
sr1 = pd.Series([1,3,3,34,13,24,43,44,73])
sr2 = pd.Series([1,2,5,67,98,4,83,14,83])

pd.concat([sr1,sr2])

0     1
1     3
2     3
3    34
4    13
5    24
6    43
7    44
8    73
0     1
1     2
2     5
3    67
4    98
5     4
6    83
7    14
8    83
dtype: int64

In [15]:
sr1 = pd.Series([1,3,3,34,13,24,43,44,73])
sr2 = pd.Series([1,2,5,67,98,4,83,14,83])

pd.concat([sr1,sr2]).reset_index(drop=True)

0      1
1      3
2      3
3     34
4     13
5     24
6     43
7     44
8     73
9      1
10     2
11     5
12    67
13    98
14     4
15    83
16    14
17    83
dtype: int64

In [16]:
sr3 = pd.concat([sr1,sr2]).reset_index(drop=True)

## astype function

In [17]:
type(sr1)

pandas.core.series.Series

In [18]:
type(sr[0])

numpy.int64

In [19]:
sr1.astype('float')

0     1.0
1     3.0
2     3.0
3    34.0
4    13.0
5    24.0
6    43.0
7    44.0
8    73.0
dtype: float64

In [19]:
sr3.astype('float')

0      1.0
1      3.0
2      3.0
3     34.0
4     13.0
5     24.0
6     43.0
7     44.0
8     73.0
9      1.0
10     2.0
11     5.0
12    67.0
13    98.0
14     4.0
15    83.0
16    14.0
17    83.0
dtype: float64

## Between Function

In [20]:
sr4 = [1,2,3,12,2323,20,23,23,2332]
sr4 = pd.Series(sr4)

In [21]:
sr4.between(1,100)

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7     True
8    False
dtype: bool

## All strings function can be used to extract or modify texts in a series

In [58]:
ser = pd.Series(['Ish ant', 'Rahul ', ' Prashant '])

In [59]:
s = ser.str.strip()

In [60]:
s

0     Ish ant
1       Rahul
2    Prashant
dtype: object

In [61]:
ser = s.str.upper()
ser

0     ISH ANT
1       RAHUL
2    PRASHANT
dtype: object

In [62]:
ser = s.str.lower()
ser

0     ish ant
1       rahul
2    prashant
dtype: object

In [63]:
ser = s.str.split()
ser

0    [Ish, ant]
1       [Rahul]
2    [Prashant]
dtype: object

In [72]:
sr = pd.Series(['Bikash','hair','Raghav'])

In [73]:
sr = sr.str.split()
sr

0    [Bikash]
1      [hair]
2    [Raghav]
dtype: object