In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [18]:
import pandas as pd
import numpy as np

In [19]:
lst = [1,2,3,4,11,9,7]
np.array(lst)

array([ 1,  2,  3,  4, 11,  9,  7])

In [20]:
pd.Series(lst)

0     1
1     2
2     3
3     4
4    11
5     9
6     7
dtype: int64

In [21]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 11, 9, 7]
1    [1, 2, 3, 4, 11, 9, 7]
2    [1, 2, 3, 4, 11, 9, 7]
dtype: object

In [22]:
pd.DataFrame([lst,lst,lst],columns = ["Bikash", "Mandip", "Samip","Bikash", "Mandip", "Samip","Harry"])

   Bikash  Mandip  Samip  Bikash  Mandip  Samip  Harry
0       1       2      3       4      11      9      7
1       1       2      3       4      11      9      7
2       1       2      3       4      11      9      7

In [ ]:
pd.